URxvt.perl-ext-common: default,matcher,clipboard,resize-font
URxvt.clipboard.autocopy: true
URxvt.font: xft:Noto Sans Mono Medium:pixelsize=11
URxvt.scrollBar: false
URxvt.foreground: White
URxvt.background: Black
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! intuitive copy/paste
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! these don't appear to work
URxvt.keysym.C-plus:     perl:resize-font:bigger
URxvt.keysym.C-minus:    perl:resize-font:smaller
URxvt.keysym.C-M-equal:    perl:resize-font:reset
URxvt.keysym.C-M-question: perl:resize-font:show
